*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}
      

.nav-bar img{
    height: 50px;
    width: 140px;
    margin: 30px 50px;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: #333333;
    margin-inline: 0px 70px 0px 70px;
}
.nav-bar {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
.nav-bar a{
    text-decoration: none;   
}
a{
    text-decoration: none;
    color:black;
}
.support-btn button a{
    color: #FFFFFF;
}
.section{
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 20px;
}
.support-btn button{
    color: #FFFFFF;
    background-color: #E31B54;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    font-weight: 200;
}

.achieve {
justify-items: center;
}


.top {
font: 1em sans-serif;
font-size: 40px;
/* justify-content: center; */
padding-top: 200px;
/* padding-left: 200px; */
}
.text {
font-size: 19px;
justify-content: center;
margin: top 50px;
padding-top: 50px;
padding-left: 120px;
}

.link button{
    height: 50px;
    width: 180px; */
    padding-top: 100px;
    background-color: #E31B54;
    color: white;
    border-radius: 6px;
    border: none; 
    margin-bottom: 100px;
    margin-top: 80px;
    font-size: 18px;
    font-weight: 200px;

}
.link button a{
    color: white;
}

.container {
  max-width: 1080px;
  margin: auto;
  background-color: #000;
}

.main-video {
  position: relative;
  background-color:#E31B54;;
  overflow: hidden;
  border-radius: none;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  background: #e91e63;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-title {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.thumbnail-carousel {
  display: flex;
  overflow-x: auto;
  margin-top: 15px;
  gap: 10px;
}

.thumbnail.active {
  border: none;
  background-color: #e91e63;
}

.thumbnail.active img {
  width: 40%;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  
}
.thumbnail {
  display: flex;
  width: 150px;
  /* background-color: #E31B54; */
  color: white;
  border-radius: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}



.thumbnail span {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



  .globe img {
    width: 900px;
    height: 700px;
    justify-items: center;
    align-items: center;
    padding-left: 200px;
    margin-top: 100px;

  }
  .achieve{
    font-size: 50px;

  }
  .finance{
    padding: auto;
  }
  




 


